<!--Archivo base de los formularios de actualizacion-->
{% extends 'custom/base.html' %}

{% block app_content %}

{% load crispy_forms_tags %}
{% load custom_tags %}

<!-- Elimina el asterisco de los tags    -->
{% include 'custom/snippets/asterisk_field.html' %}

<form class="form-signin" enctype='multipart/form-data' method="post">{% csrf_token %}
    <h1 class="h3 text-center font-weight-norml">Modificar {{object|verbose_name}}</h1>
    <hr>

    {% block form %}
    <!-- Formulario de cada modelo -->
    {% include object|form with form=form %}
    {% endblock form %}

    <!-- Mensaje de exito -->
    {% include 'custom/snippets/success.html' %}

    <!-- Botones -->
    {% include 'custom/snippets/update_buttons.html' with object=object %}

</form>

{% endblock app_content %}
