<!-- Carousel con imagenes -->
<!-- var: object -->
{% load custom_tags %}

{% if object|has_image %}

<!--Cambia a negro el color de las flechas y de los indicadores-->
<style>
  .carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1);
}
.carousel-indicators li {
  filter: invert(1);
}
.carousel-indicators .active {
  filter: invert(1);
}

</style>



<div>
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    {% for image in object.image_set.all %}
    {% if image.image_file %}

    {% if forloop.counter0 == 0 %}
    <li data-target="#carouselExampleIndicators" data-slide-to="{{forloop.counter0}}" class="active"></li>
    {% else %}
    <li data-target="#carouselExampleIndicators" data-slide-to="{{forloop.counter0}}"></li>
    {% endif %}
    {% endif %}

    {% endfor %}
  </ol>

  <div class="carousel-inner">
    {% for image in object.image_set.all %}
    {% if image.image_file %}

    {% if forloop.counter == 1 %}
    <div class="carousel-item active">
      {% else %}
      <div class="carousel-item">
        {% endif %}
        <img class="d-block w-100" src="/media/{{ image.image_file }}" alt="First slide">
      </div>
      {% endif %}

      {% endfor %}

    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <br>
</div>
{% endif %}
