{% extends 'base.html' %}

{% block content %}
<style type="text/css">
  .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }
  .form-signin .checkbox {
    font-weight: 400;
  }
  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="password"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .h3{
    text-align: center;
  }
</style>


<form method="POST" class="form-signin">{% csrf_token %}
  <h1 class="h3 mb-3 font-weight-normal">Cambiar contraseña</h1>
  <input name="old_password" class="form-control mb-3" placeholder="{{form.old_password.label}}" type="password" id="id_old_password" required="true">
  {% include 'snippets/especific_field_errors.html' with errors=form.old_password.errors %}

  <input name="new_password1" class="form-control" placeholder="{{form.new_password1.label}}" type="password" id="id_new_password1" required="true">
  <input name="new_password2" class="form-control" placeholder="{{form.new_password2.label}}" type="password" id="id_new_password2" required="true">
  {% include 'accounts/snippets/help_text.html' %}
  {% include 'snippets/especific_field_errors.html' with errors=form.new_password2.errors %}

  {% include 'snippets/non_field_errors.html' %}

  <button class="btn btn-lg btn-primary btn-block my-3" type="submit">Guardar</button>
</form>

{% endblock %}